**/.DS_Store
*.DS_Store
.DS_Store
.DS_Store >> ~/.gitignore_global
/.quarto/
.Rproj.user
.RData
.Rhistory

./cv

# do not publish

posts/content/mutationmapping
posts/content/baltic_singletree


**/*.quarto_ipynb
